:root {
    font-size: calc(0.5em + 1vw);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.container > div {
    margin-top: 0.5rem;
}

.kanjiParagraph {
    font-size: 6rem;
    width: 50vmin;
    height: 70vmin;
    border-width: 1rem;
    border-style: solid;
    text-align: center;
}

#kanjiArea {
    width: 100%;
}

.kanjiParagraph td:nth-child(1),td:nth-child(3) {
    font-size: 0.8rem;
    width: 20%;
}
