:root {
    font-size: calc(0.5em + 1vw);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.container > div {
    margin-top: 0.5rem;
}

.frame {
    width: 50vmin;
    height: 70vmin;
    border-width: 1rem;
    border-style: solid;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
    align-content: center;
    padding: 0.5em;
}

.kanji {
    font-size: calc(6vw);
}

.katakana {
    text-align: right;
    font-size: 0.8rem;
}

.meaning {
    text-align: left;
    font-size: 0.8rem;
}
